*,::after,::before{
    box-sizing: border-box;
}

img{
    display: block;
    margin: auto;
    max-width: 100%;
}
body{
    margin: 0;
    min-height: 100vh;
    background:var(--bg);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 900px){
    body{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: 100px 1fr;
       align-items: center;
       background: white;
       background: url(../assets/images/bg-pattern-desktop.svg)

      
}
}
.header{
    padding: 1.5rem;
}
.picture{
    display: block;
    height: 280px;
}

@media screen and (min-width: 900px){
   .picture{
       grid-column: 2/-1;
       grid-row:span 2;
       width: 100%;
       height: 100%;
   }
   .picture img{
       height: 100%;
   }
   .main{
       margin: auto;
       width: 400px;

   }
}

.logo{
    margin:0;
    max-width: 120px;
}

.title{
    max-width: 250px;
    text-align: center;
    margin: auto;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 8px;
    color:var(--color-dark)
}

.title::first-line{
    color: var(--color-main);
    font-weight: 300;;
}

.text{
    color: var(--color-main);
    text-align: center;
    padding: 0 20px;
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.form{
    margin-bottom: 3rem;
}
.input-container{
    position: relative;
    width: 85%;
    margin:auto; 
    display: flex;
    align-items: center; 
}

.input-container--error::before{
    position: absolute;
    content: "Please provide a valid email";
    bottom: -25px;
    left: 15px;
    color:var(--color-error);

    
}
.input-container--error::after{
    position: absolute;
    content: url(../assets/images/icon-error.svg);
    right: 80px;
}
.form__email{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 30px;
    border: 1px solid var(--color-main);

}
::placeholder{
    color:var(--color-main)
}

.form__submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    width: 70px;
    border-radius: 30px;
    outline: none;
    border:none;
    background: var(--bg2);
    box-shadow: -5px 10px 15px var(--color-main);
}
@media screen and (min-width: 900px){
    .form__submit:hover{
        background: var(--bg);
    }
 }